%h3 Edit Account

.row
  .col-xs-2
    %label Your Invitation URL
  .col-xs-4{data: {toggle: "tooltip", placement: "top", title: (current_user.user? ? 'Send your CV form to crewing agencies for 5 points' : 'Invite to your private network.') }}
    = text_field_tag :url, sailor_users_url(token: resource.intivation_token), class: 'form-control', disabled: true
    - if current_user.crewing?
      %p.help-block Increase your network
    - if current_user.user?
      %p.help-block
        Invite your friends and earn extra points
  .col-xs-6= link_to('Invite colleagues', invite_users_url, class: 'btn btn-success')
- if current_user.user?
  .row
    .col-xs-2
      %label Your points
    .col-xs-4
      %span.label.label-success{style: 'font-size: 1.1em'} #{resource.inviters.count + 1}

%hr/
- resource.build_contact unless resource.contact
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  .row
    .col-md-8
      = display_base_errors resource
      = f.input :name, :autofocus => true, placeholder: 'enter your contact name'
      = f.input :email, :required => true
      = f.input :phone, :required => true

      - if current_user.crewing? || current_user.admin?
        .well.well-sm
          %h4.text-center
            This information will be shown on
            %strong Application Form
          = f.input :company_name, :required => true
          = f.simple_fields_for(:contact) do |contact|
            = contact.association :country
            = contact.input :region
            = contact.input :city
            = contact.input :street
            = contact.input :postal_code
            = contact.input :phone, as: :tel
            = contact.input :mphone, as: :tel, placeholder: '+38093...'
            = contact.input :email
            = contact.input :skype
            = image_tag(contact.object.logo_url) if contact.object.logo?
            = contact.input :logo, as: :file
      .text-danger
        = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true

      = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
      = f.input :password_confirmation, :required => false

  .row
    .col-md-3.col-md-offset-2
      = f.button :submit, 'Update', :class => 'btn-primary'