= simple_form_for(@vacancy) do |f|
  .row
    .col-xs-6.col-md-6
      %h4.text-info Conditions
      = f.association :rank,  prompt: '-Please select-', include_blank: false
      = f.association :vessel_type,  prompt: '-Please select-', include_blank: false
      = f.input :salary_min, required: true
      = f.input :salary_max, required: true
      = f.input :salary_currency, collection: ['USD', 'EU'], include_blank: false
      = f.input :term_in_month
      = f.input :from_date, {as: :date, start_year: Date.today.year, end_year: Date.today.year + 2, input_html:{ class: 'date date25'}}
      %h4.text-info Demands
      = f.association :country, required: true, prompt: '-Please select-'
      = f.association :language, include_blank: false
      = f.input :require_description, as: :text, hint: 'maximum 255 chars'
    .col-xs-6.col-md-6
      %h4.text-info Ship information
      = f.input :ship
      = f.input :ship_motor
      = f.input :nationality
      = f.input :region
      = f.association :shipowner_country, prompt: '-Please select-'

  .text-center.space-top-xs
    = f.button :submit, class: 'btn btn-primary'