%h2 Dear #{@user.full_name}

%p
  %div Thank your for submitting your application with iCrewing.
  %div It has been successfully received and will be reviewed by one one of our staff in due course.
  %div Please note that submitting an application doesn't guarantee you an employment.

%h3 Update personal data
%p
  You may access your personal profile to update personal data at any time.
  If you think you missed something or want to do a final polish, you are more than welcome to do so.
= link_to('UPDATE PERSONAL DATA', sailor_users_url(user_email: @user.email, user_token: @user.authentication_token), style: email_btn_style)

%h3 Access to your CV
%p
  You may download CV in next formats:
  %div
    = link_to('HTML version', cv_user_url(@user.uuid, format: 'html'), style: email_btn_style)
    = link_to('PDF version', cv_user_url(@user.uuid, format: 'pdf'), style: email_btn_style)
%hr/
%h3 Build own professional network.

%p= link_to('Invite colleagues', invite_users_path, style: email_btn_style)