= simple_form_for @user, url: create_crewing_users_path do |f|
  = f.error_notification
  .row
    .col-md-5
      = f.input :email
    .col-md-5
      = f.input :phone, required: true
  .row
    .col-md-5
      = f.input :name, label: 'Contact Name', required: true
    .col-md-5
      = f.input :company_name, required: true
  .row
    .col-md-5
      = f.association :country, required: true, prompt: '-Please select-', label: 'Your country'
  %br
  %p.text-muted
    Your account wil be created now, but you account have to be verified by administation.
  .row
    .col-md-8.col-md-offset-4
      = f.button :submit, 'Create agency account', class: 'btn btn-success btn-lg'
