%h4.text-center SEA SERVICES (last five years)
%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Company/ Employer
      %th Vessel's name
      %th Position
      %th Flag
      %th Vessel type
      %th Engine type
      %th Engine power
      %th GRT/ DWT
      %th From
      %th To
  %tbody
    - seaservices.each do |seaservice|
      %tr
        %td= seaservice.owner_name
        %td= seaservice.vessel_name
        %td= seaservice.rank
        %td= seaservice.vessel_country_code
        %td= seaservice.vessel_type
        %td= seaservice.vessel_engine_model
        %td= seaservice.vessel_engine_power
        %td= seaservice.vessel_dwt
        %td= seaservice.on_date
        %td= seaservice.off_date

