%h5.text-center PERSONAL DOCUMENTS
%table.table.table-bordered.table-condensed
  %thead
    %tr
      %th Description
      %th Number

      %th Issued
      %th Expired

      %th Issuer, country

  %tbody
    - documents.each do |certificate|
      %tr
        %td= certificate.cert
        %td= certificate.licence_number

        %td= certificate.from_date
        %td= certificate.to_date

        %td
          = certificate.issuer
          = certificate.country
