.row
  .col-xs-12 #{contact.street}, #{contact.region}
.row
  .col-xs-12 #{contact.postal_code}, #{contact.country.name}
.row
  .col-xs-12 Tel: #{contact.phone}
.row
  .col-xs-12 Mob: #{contact.mphone}
.row
  .col-xs-12 E-mail: #{contact.email}
