= simple_form_for @user, url: create_manager_users_path, html: {class: 'form-horizontal'} do |f|
  .row.well.well-sm
    .col-xs-3
      = f.text_field :name, placeholder: 'Contact Name', autofocus: true, class: 'form-control'
    .col-xs-3
      = f.text_field :email, placeholder: 'Email', class: 'form-control'
    .col-xs-3
      = f.text_field :phone, placeholder: '+38093...', class: 'form-control'
    .col-xs-3
      = f.button :submit, 'Create Manager', class: 'btn btn-primary'
