.search
  = simple_form_for User.new, url: users_path, method: :get do |f|
    .col-md-2
      = select_tag(:rank_id, options_from_collection_for_select(Rank.all, 'id', 'name', params[:rank_id].to_i), prompt: 'Rank', class: 'form-control')
    .col-md-2
      = select_tag(:country_id, options_from_collection_for_select(Country.all, 'id', 'name', params[:country_id].to_i),  prompt: 'Country', class: ' form-control')
    .col-md-1
      = select_tag(:salary, options_for_select((1500..20000).step(500).to_a, params[:salary]),  prompt: 'Salary/max', class: 'form-control')
    .col-md-1
      = select_tag(:years, options_for_select((18..60).step(1).to_a, params[:years]),  prompt: 'Years', class: 'form-control')

    .col-md-1
      = select_tag(:language_id,  options_from_collection_for_select(Language.all, 'id', 'name', params[:language_id].to_i), prompt: 'Language', class: 'form-control')
    .col-md-1
      = select_tag(:vessel_type_id,  options_from_collection_for_select(VesselType.all, 'id', 'name', params[:vessel_type_id].to_i), prompt: 'Type', class: 'form-control')
    .col-md-1
      = select_tag(:vessel_dwt,  options_for_select(vessel_dwt, params[:vessel_dwt]), prompt: 'WDT/min', class: 'form-control')
    .col-md-1
      = f.submit :search, class: 'btn btn-primary'
