.text-right Updated at: #{@user.cv_updated_at}
.h2.text-center
  APPLICATION FORM

.row
  .col-md-4.contact= render 'cv_contact', {contact: @contact}
  .col-md-4
  .col-md-4= @personal.photo(@hide_details)
.h4.text-center
  Required salary: #{@personal.required_salary}

= render 'cv_user_contacts'
= render 'cv_personal_documents', {documents: @documents}
= render 'cv_certificates', {certificates: @certificates, langs: @langs}
= render 'cv_sea_services', {seaservices: @seaservices}
