.text-right
  Updated at: #{@user.cv_updated_at}
.h2.text-center
  APPLICATION FORM

.row
  .col-xs-4.col-md-4.contact= render 'cv_contact', {contact: @contact}
  .col-xs-4.col-md-4
  .col-xs-4.col-md-4= @personal.photo
.h4.text-center
  Required salary: #{@personal.required_salary}

= render 'cv_user_contacts'
= render 'cv_personal_documents', {documents: @documents}
= render 'cv_certificates', {certificates: @medical_certificates, title: 'MEDICAL'}
= render 'cv_certificates', {certificates: @certificates, title: 'CERTIFICATES'}
= render 'cv_sea_services', {seaservices: @seaservices}
