.center-abs
  .row
    .col-md-6.col-md-offset-3
      %h3.text-center iCrewing
      .enter
        = simple_form_for(@user, :url => get_access_users_path, remote: true) do |f|
          %label Enter your e-mail address to proceed further
          = f.input :email, :autofocus => true, label: 'Email', placeholder: 'Email'
          = f.input :token, as: :hidden
          - if request.xhr?
            = f.input :email_confirmation, :autofocus => true, label: 'Email confirmation'
          .row
            .col-xs-offset-3.col-xs-6.col-sm-9.col-sm-offset-3
              = f.button :submit, 'Submit', :class => 'btn-primary'
              %div= link_to('go back to home', root_path)
