.well
  %h2= @user.full_name

  %h3 Hurray! Welcome to Crew BV.

  %p Thank you for submitting the application form! It has been successfully received and will be reviewed by one of our crew managers shortly.

  %p Please make sure that you have submitted all required information accurately. The more precise information is being provided, the bigger chance for you to get employed.

  %p
    You may still review or update your personal information.
    = link_to('Correct', new_personal_path, class: 'btn btn-success')
  %div
    Or open and download
    = link_to('HTML version', cv_user_path(@user.uuid, format: 'html'), class: 'btn btn-info')
    = link_to('PDF version', cv_user_path(@user.uuid, format: 'pdf'), class: 'btn btn-info')

  .text-center.alert.alert-info
    %h4
      Do you want to send CV to
      %span.h3 #{AgencySubscription.active.count}
      agencies?
    %div
      - order_uid = "#{current_user.id}-#{Time.now.to_i}-send_cv"
      <form method="POST" accept-charset="utf-8" action="https://www.liqpay.com/api/pay" >
      <input type="hidden" name="public_key" value="#{Rails.application.secrets.liqpay_public_key}" />
      <input type="hidden" name="amount" value="#{Rails.application.secrets.cv_price}" />
      <input type="hidden" name="currency" value="UAH" />
      <input type="hidden" name="description" value="Send my CV User[#{current_user.id}]: #{current_user.decorate.full_name} (#{current_user.email})" />
      <input type="hidden" name="type" value="buy" />
      <input type="hidden" name="sandbox" value="#{Rails.application.secrets.sandbox_mode}" />
      <input type="hidden" name="pay_way" value="card" />
      <input type="hidden" name="server_url" value="http://icrewing.com/orders/confirm" />
      <input type="hidden" name="return_url" value="http://icrewing.com/orders/status/#{order_uid}" />
      <input type="hidden" name="order_id" value="#{order_uid}" />
      <input type="hidden" name="language" value="ru" />
      <input type="submit" class="btn btn-success btn-lg" value="Pay for delivery"/>
      </form>
