%h1 Listing vessel_engines

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @vessel_engines.each do |vessel_engine|
    %tr
      %td= vessel_engine.name
      %td= link_to 'Show', vessel_engine
      %td= link_to 'Edit', edit_vessel_engine_path(vessel_engine)
      %td= link_to 'Destroy', vessel_engine, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Vessel engine', new_vessel_engine_path
