%hr
-#= render file: 'pages/show'

.row
  .col-xs-5

    .p10.info
      %h3.text-center.marine-color Морякам
      %ul.list-unstyled.lead.p10
        %li #{icon('ok text-success')} &nbsp; Регистрация в базе 800 агенств
        %li #{icon('ok text-success')} &nbsp; Новые вакансии
        %li #{icon('ok text-success')} &nbsp; Наличие публичного профиля
        %li #{icon('ok text-success')} &nbsp; Рассылка анкеты по агенствам
        %li #{icon('ok text-success')} &nbsp; Напоминание о годности документов
        %li #{icon('ok text-success')} &nbsp; Система рекомендаций
      %div.text-center= link_to('Войти', sailor_users_path, class: 'btn btn-lg btn-success')
  .col-xs-5.col-xs-offset-1
    .p10.info
      %h3.text-center.marine-color Агенствам
      %ul.list-unstyled.lead.p10
        %li #{icon('ok text-success')} &nbsp; Интерфейс управления контактами
        %li #{icon('ok text-success')} &nbsp; Поиск в своей и публичной базе
        %li #{icon('ok text-success')} &nbsp; Партнерская программа
        %li #{icon('ok text-success')} &nbsp; Стандартизация CV анкет
        %li #{icon('ok text-success')} &nbsp; Обмен анкетами
        %li #{icon('ok text-success')} &nbsp; Управление менеджерами
      %div.text-center= link_to('Регистрация', crewing_users_path, class: 'btn btn-lg btn-success')
%hr
%h2.text-center.marine-color Регистрация и пользование бесплатно
%hr
%br
#carousel-example-generic.carousel.slide{'data-ride' => 'carousel'}

  %ol.carousel-indicators
    %li{data:{'target' => '#carousel-example-generic', 'slide-to' => '0'}}
    %li{data:{'target' => '#carousel-example-generic', 'slide-to' => '1'}}
    %li{data:{'target' => '#carousel-example-generic', 'slide-to' => '2'}}
  .carousel-inner{'role' => 'listbox'}
    .item.active #{image_tag('examples/user_profile.png')}
    .item #{image_tag('examples/seafarers_list.png')}
    .item #{image_tag('examples/manages_list.png')}

  = link_to('#carousel-example-generic', class: 'left carousel-control', role: "button", 'data-slide' => "prev") do
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>

  = link_to('#carousel-example-generic', class: 'right carousel-control', role: "button", 'data-slide' => "next") do
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>

%p.text-center
  %br
  %br
  = link_to('Задать вопрос', feedback_path, class: 'btn btn-lg btn-success')

-#.row
  .col-xs-10.col-xs-offset-1
    %h3.text-center
      ICrewing is a universal platform to search for a job as a sailor and employment assistance for commanders in the best shipping companies in different parts of the world. It is also the largest database to search for sailors for crewing companies and agencies for open positions.
  .col-xs-12.text-center
    %br
    = image_tag('red-seea.jpg')
    %br
    %br
  .col-xs-12.lead
    &nbsp; ICrewing - offers sailors and the fleet staff two variants of interaction with a potential employer: with the shipowner or the crewing company. In the «Sailor» tab anyone can fill out an application form in English, indicating all personal and medical details, passport information of a sailor, marine education and a detailed list of supporting documents, marine certificates, references, as well as experience. Your completed application form will be stored in the database platform of Icrewing, where more than 350 crewing agencies and shipping companies have access to search for candidates for their vacancies. The convenient and simple form of the application will ensure you a quicker search for a job. You can correct or update your profile information anytime, thus alaways having a current resume for a job search. For an additional small fee you can send your application to our crewing partners from around the world which are more than 650 companies and agencies.
    .col-xs-12.text-center
      = image_tag('spliter.png')
    %div
      &nbsp; We work only with reliable and responsible employers which offer jobs abroad in shipping companies, shipyards and ports. The wide geographic range of our partners increases your employment opportunities, as we present vacancies of crewing companies of Odessa, Kherson, Simferopol, Mariupol,
    %hr
    %p
      &nbsp; Nikolaev, St. Petersburg, Novorossiysk, Vladivostok, Astrakhan; shipping companies in Ukraine, Latvia, Lithuania, Russia, Georgia, Greece, Turkey, the United States, Britain, Norway, the Netherlands, Bulgaria, Iceland, the United Arab Emirates. Jobs are available for all professions on various types of vessels: passenger ships, bulk carriers, container ships, tankers, chemical tankers, gas carriers, RO-RO, LO-RO, tugs, offshore fleet, yachts.
    %hr
    %h3.text-center
      The ICrewing Platform wishes you fair winds and following seas!
