= simple_form_for(@personal, html: {remote: true, format: :js, multipart: true, role: 'form',
class: 'registration '}) do |f|
  = token_tag
  = f.error_notification
  .row
    .col-md-8
      = f.input :available_from, as: :string, placeholder: 'dd-mm-yyyy', input_html:{autocomplete: 'off', class: 'datepicker'}
      = f.association :rank
      = f.input :required_position
      = f.input :salary, label_method: :amount
      = f.input :surname
      = f.input :name
      = f.input :middle_name
      = f.input :pp_dob, as: :date
      -#= f.input :pp_dob, as: :string, placeholder: 'dd-mm-yyyy', input_html:{autocomplete: 'off', class: 'datepicker'}
      = f.input :pp_pob
      = f.association :country
      = f.association :citizenship
      = f.association :marital
      = f.input :sex, collection: [:m, :f], as: :radio_buttons
      = f.association :eye
      = f.association :hair, label_method: :color
      = f.association :height, label_method: :height
      = f.association :weight, label_method: :weight
      = f.association :overallsize, label_method: :overall_size
      = f.association :shoe, label_method: :shoes_size
      = f.input :taxation_id_code
      = f.input :note
      %hr/

      = image_tag(@personal.photo_url) if @personal.errors.blank? && @personal.photo?
      = f.input :photo, as: :file
      //= f.hidden_field :photo_cache

  .text-right
    = f.button :submit, 'Next', class: 'btn btn-primary btn-lg btn-next'
:css
  .personal_pp_dob select.date {width: 15% !important; margin-right: 13px;}
