- next_of_kin_class = (defined?(@next_of_kin) || (current_user.contact && current_user.contact.id != @contact.id)) ? 'next_of_kin' : ''
= simple_form_for(@contact, remote: true, html: {format: :js, role: 'form', class: "registration #{next_of_kin_class}"}) do |f|
  - unless next_of_kin_class.present?
    %legend
      Your contact Address
  - else
    %legend
      Next of Kin contact Address

  = f.error_notification
  .row
    .col-md-8
      = f.association :country
      - if !next_of_kin_class.blank? || (params[:contact] && params[:contact][:next_of_kin])
        = f.input :next_of_kin, required: true
        = f.input :name
      = f.input :region
      = f.input :city
      = f.input :street
      = f.input :postal_code
      = f.input :airport
      = f.input :phone, as: :tel
      = f.input :mphone, as: :tel, placeholder: '+38093...'
      = f.input :email, required: current_user.contacts.blank? || current_user.contact.eql?(@contact)
      = f.input :skype

    .col-md-10.col-md-offset-2
      = f.button :submit, class: 'btn btn-primary'
