= simple_form_for(@contact, remote: true, html: {format: :js, role: 'form',class: 'registration '}) do |f|
  = f.error_notification
  .row
    .col-md-8
      = f.association :country
      - if current_user.contact && current_user.contact.id != @contact.id
        = f.input :next_of_kin, required: true
        = f.input :name
      = f.input :region
      = f.input :city
      = f.input :street
      = f.input :postal_code
      = f.input :airport
      = f.input :phone, as: :tel
      = f.input :mphone, as: :tel, placeholder: '+38093...'
      = f.input :email, required: current_user.contacts.blank? || current_user.contact.eql?(@contact)
      = f.input :skype

    .col-md-10.col-md-offset-2
      = f.button :submit, class: 'btn btn-primary'
