= simple_form_for(@contact, remote: true, html: {format: :js, role: 'form',class: 'registration '}) do |f|
  = f.error_notification
  .row
    .col-md-8
      = f.association :country
      = f.input :region
      = f.input :city
      = f.input :street
      = f.input :postal_code
      = f.input :airport
      = f.input :phone, as: :tel
      = f.input :mphone, as: :tel, placeholder: '+38093...'
      = f.input :email
      = f.input :skype

    .col-md-10.col-md-offset-2
      = f.button :submit, class: 'btn btn-primary'
.text-right
  = link_to('back', new_personal_path, class: 'btn btn-default btn-lg')
  = link_to('next', certificates_path, class: 'btn btn-primary btn-lg')