%legend
  Contacts
%div
  = link_to('Add New Address', new_contact_path, remote: true, class: 'btn btn-success btn-sm')
.contacts
  = render 'list'
.contact
  = render 'form'
.text-right
  = link_to('back', new_personal_path, class: 'btn btn-default btn-lg')
  = link_to('next', certificates_path, class: 'btn btn-primary btn-lg')