%p#notice= notice

%p
  %b Country:
  = @contact.country
%p
  %b Region:
  = @contact.region
%p
  %b Street:
  = @contact.street
%p
  %b Postal code:
  = @contact.postal_code
%p
  %b Airport:
  = @contact.airport
%p
  %b Phone:
  = @contact.phone
%p
  %b Mphone:
  = @contact.mphone
%p
  %b Email:
  = @contact.email
%p
  %b Skype:
  = @contact.skype

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
