%h1 Listing vessel_types

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @vessel_types.each do |vessel_type|
    %tr
      %td= vessel_type.name
      %td= link_to 'Show', vessel_type
      %td= link_to 'Edit', edit_vessel_type_path(vessel_type)
      %td= link_to 'Destroy', vessel_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Vessel type', new_vessel_type_path
