%h1 Listing maritals

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @maritals.each do |marital|
    %tr
      %td= marital.name
      %td= link_to 'Show', marital
      %td= link_to 'Edit', edit_marital_path(marital)
      %td= link_to 'Destroy', marital, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Marital', new_marital_path
