%h1 Listing overallsizes

%table
  %tr
    %th Overall size
    %th
    %th
    %th

  - @overallsizes.each do |overallsize|
    %tr
      %td= overallsize.overall_size
      %td= link_to 'Show', overallsize
      %td= link_to 'Edit', edit_overallsize_path(overallsize)
      %td= link_to 'Destroy', overallsize, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Overallsize', new_overallsize_path
