= content_tag_for(:tr, certificate.object.cert) do
  %td= link_to(icon('pencil', 'Edit'), edit_certificate_path(certificate), remote: true, class: 'btn btn-default btn-xs')
  %td= certificate.cert
  %td= certificate.country
  %td= certificate.from_date
  %td= certificate.to_date
  %td= certificate.licence_number
  %td= certificate.issuer
