
- if @certificate.valid?
  if ($("##{dom_id(@certificate.cert)}").size() == 0){
  $('.new_entry').replaceWith("#{j render(partial: 'certificate', locals: {certificate: @certificate.decorate}) }")
  } else {
  $("##{dom_id(@certificate.cert)}").replaceWith("#{j render(partial: 'certificate', locals: {certificate: @certificate.decorate}) }")
  $('.new_entry').remove()
  }
- else
  $('.new_entry').replaceWith("#{j render 'new_row'}")