%h1 Listing vessel_country_codes

%table
  %tr
    %th Code
    %th Name
    %th
    %th
    %th

  - @vessel_country_codes.each do |vessel_country_code|
    %tr
      %td= vessel_country_code.code
      %td= vessel_country_code.name
      %td= link_to 'Show', vessel_country_code
      %td= link_to 'Edit', edit_vessel_country_code_path(vessel_country_code)
      %td= link_to 'Destroy', vessel_country_code, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Vessel country code', new_vessel_country_code_path
