-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default
  %ul.nav.navbar-nav.navbar-collapse
    %li= link_to 'Home', root_path
    %li= link_to 'Crewing', crewing_users_path
    %li= link_to 'Seafarer', sailor_users_path
    %li= link_to 'News', '#'
    %li= link_to 'Contacts', contacts_path
    %li= link_to 'Faq', '#'
    %li= link_to 'Feedback', '#'
