//TODO
%li= link_to('Personal', new_personal_path)
%li= link_to('Contact', new_contact_path)
%li= link_to('Certificates', certificates_path)
%li= link_to('Sea Service', seaservices_path)
%li= link_to('Language', langs_path)

- if user_signed_in?
  %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
- else
  %li= link_to 'Login', new_user_session_path
- if user_signed_in?
  %li= link_to 'Edit account', edit_user_registration_path
- else
  %li= link_to 'Sign up', new_user_registration_path
- if user_signed_in?
  %li= link_to 'Users', users_path
