%nav.navbar.navbar-default.navbar-static-top
  .container-fluid{class: menu_style}
    .collapse.navbar-collapse
      /left
      %ul.nav.navbar-nav.navbar-left
        - if user_signed_in?
          - if current_user.admin?
            %li= link_to('Agencies', agencies_path)
            %li= link_to('System Admin', root_url(subdomain: 'admin'))

          - if current_user.crewing?
            %li= link_to(icon('bookmark') + ' Managers', managers_path)

          - if current_user.manager?
            -#%li= link_to('Users', users_path)

          - unless current_user.user?
            %li= link_to(icon('search') + ' Seafarers', users_path)
            %li= link_to(icon('th-list') + ' All', users_path(scope: 'all'))


      /right
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to icon('user') + ' Profile', edit_user_registration_path, title: current_user.role
          %li= link_to icon('off') + ' Logout', destroy_user_session_path, :method=>'delete'
        - else
          %li= link_to 'Login', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path
