%nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid{class: menu_style}
    .collapse.navbar-collapse
      /left
      %ul.nav.navbar-nav.navbar-left
        - if user_signed_in?
          - if current_user.crewing? || current_user.admin?
            %li= link_to(icon('bookmark') + ' Managers', managers_path)

          - unless current_user.user?
            %li= link_to(icon('search') + ' Seafarers', users_path)
            %li= link_to(icon('th-list') + ' All', users_path(scope: 'all'))

          - if current_user.admin?
            %li= link_to(icon('flag') + ' Agencies', agencies_path)
            %li= link_to(icon('book') + ' Subscribers', agency_subscriptions_path)
            %li= link_to(icon('flash') + ' Certificates', expired_certs_certificates_path)
            %li= link_to(icon('usd') + ' Orders', orders_path)
            %li.spliter
            %li= link_to('Pages', pages_path)
            %li= link_to(icon('cog') + ' Settings', root_url(subdomain: 'admin'))


      /right
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          - if current_user.user?
            %li= link_to(icon('briefcase') + ' My CV', sailor_users_path)
          %li= link_to icon('user') + ' Profile', edit_user_registration_path, title: current_user.role
          %li= link_to icon('off') + ' Logout', destroy_user_session_path, :method=>'delete'
        - else
          %li= link_to 'Login', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path
          %li
            = link_to_unless_current 'En', locale: 'en' do
              = link_to('En', '#')
          %li
            = link_to_unless_current 'Ru', {locale: 'ru'} do
              = link_to('Ru', '#')
