#MyWizard.wizard
  %ul.steps
    %li.active{"data-target" => "#step1"}
      %span.badge.badge-info> 1
      = link_to('Personal', new_personal_path)
      %span.chevron
    %li{"data-target" => "#step2"}
      %span.badge> 2
      = link_to('Contact', new_contact_path)
      %span.chevron
    %li{"data-target" => "#step3"}
      %span.badge> 3
      = link_to('Certificates', certificates_path)
      %span.chevron
    %li{"data-target" => "#step4"}
      %span.badge> 4
      = link_to('Sea Service', seaservices_path)
      %span.chevron
    %li{"data-target" => "#step5"}
      %span.badge> 5
      = link_to('Language', langs_path)
      %span.chevron
    - if current_user.completed?
      %li{"data-target" => "#step5"}
        %span.badge> 6
        = link_to('Invite colleagues', edit_user_registration_path)
        %span.chevron
  .actions
    - if session[:original_account_id].present?
      = link_to('Management', management_path, class: 'btn btn-success')
    - if user_signed_in?
      = link_to 'Logout', destroy_user_session_path, method: 'delete', class: 'btn btn-warning'
.step-content
  = render 'layouts/messages'
  = yield
