!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Marine'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Marine'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body#top
    %header
      .img-bg
        .container.abs
          .row
            .col-xs-12
              %h1= link_to(image_tag('logo.png'), root_path)
          .row
            .col-xs-12
              = render 'layouts/navigation'
    %main.content{:role => "main"}
      .container.container-fluid
        = render 'layouts/messages'
        = yield
    %footer
      .container
        .row
          .col-xs-12
            %a#toTop.top Go to top
          .col-xs-6.text-right
            %a{:href => "#"}
              9863 - 9867 Mill Road
              %br/
              Cambridge, MG09 99HT
            .clearfix
            %a{:href => "#"} +1 800 559 6580
          .col-xs-6
            .clearfix
            %a{:href => "#"} mail@demolink.org
            .clearfix
            %a{:href => "#"} http://www.demolink.org
        .row.logo
          .col-xs-12= link_to(image_tag('logo.png'), root_path)
        .row
          .col-xs-12.text-center
            %p.copyright
              Marine Transportation &copy;
              %span#copyright-year
              •
              %a.h-underline{:href => "index-5.html"} Privacy Policy


