!!!
%html
  %head
    %meta(charset="utf-8")
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Icrewing'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Icrewing'}"}
    %meta{:name => "keywords", :content => "#{content_for?(:keywords) ? yield(:keywords) : 'crewing, marine, seafarer'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{:name => "yandex-verification", :content => '744b32146765816f'}
  %body#top
    %header
      = render 'layouts/top_menu'
      - unless user_signed_in?
        .img-bg
          .container.abs
            .row
              .col-xs-12
                %h1= link_to(image_tag('logo.png'), root_path)
            .row
              .col-xs-12
                = render 'layouts/navigation'

    %main.content{:role => "main"}
      .container.container-fluid
        = render 'layouts/messages'
        -# if Rails.env.development? && !user_signed_in?
          .row
            .col-xs-3
              = link_to('user affiliate link test1@gg.com','http://localhost.dev:3000/users/enter/55:VTiy85G-ex?locale=en')
            .col-xs-3
              = link_to('manager affiliate link', 'http://localhost.dev:3000/users/enter/31:YtB1SrhdZz?locale=en')
        - if Rails.env.development? && devise_controller?
          .row
            .col-md-3
              admin@gg.com
              ,fhfrelf
            .col-md-3
              crew1@gg.com
              Sc7dD9
            .col-md-3
              manager2@gg.com
              sjqETb
        = yield
    %footer
      .container
        - unless user_signed_in?
          .row
            .col-xs-12
              %a#toTop.top Go to top
          .row.logo
            .col-xs-12= link_to(image_tag('logo.png', style: 'height: 100px'), root_path)
          .row
            .col-xs-12.text-center
              %p.copyright
                Marine Transportation &copy;
                %span#copyright-year
                •
                %a.h-underline{:href => "#"} Privacy Policy
      = render 'layouts/yandex_metric'