!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Icrewing'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Icrewing'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body#top
    %header
      - unless user_signed_in?
        .img-bg
          .container.abs
            .row
              .col-xs-12
                %h1= link_to(image_tag('logo.png'), root_path)
            .row
              .col-xs-12
                = render 'layouts/navigation'

    %main.content{:role => "main"}
      .container.container-fluid
        = render 'layouts/top_menu'
        = render 'layouts/messages'
        = yield
        .row
          .col-md3
            admin@gg.com
            ,fhfrelf
          .col-md3
            crew1@gg.com
            Sc7dD9
          .col-md3
            manager2@gg.com
            sjqETb

    %footer
      .container
        .row
          .col-xs-12
            %a#toTop.top Go to top
          .col-xs-6.text-right
            %a{:href => "#"}
              9863 - 9867 Mill Road
              %br/
              Cambridge, MG09 99HT
            .clearfix
            %a{:href => "#"} +1 800 559 6580
          .col-xs-6
            .clearfix
            %a{:href => "#"} mail@icrewing.com
            .clearfix
            %a{:href => "#"} http://icrewing.com
        .row.logo
          .col-xs-12= link_to(image_tag('logo.png', style: 'height: 100px'), root_path)
        .row
          .col-xs-12.text-center
            %p.copyright
              Marine Transportation &copy;
              %span#copyright-year
              •
              %a.h-underline{:href => "index-5.html"} Privacy Policy


