!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Icrewing'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Icrewing'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body.registration
    -#%header
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container.container_wizard
        = render 'layouts/wizard'

    %footer
      = javascript_include_tag 'application'
      = yield :javascript
