!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Marine'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Marine'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body.registration
    -#%header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .container.container_wizard
        = debug session.keys
        - if session[:original_account_id].present?
          .row
            .col-md-3.col-md-offset-9
              = link_to('Back to Management', management_path, class: 'pull-right btn btn-success btn-xs')

        = render 'layouts/wizard'
    %footer
      = javascript_include_tag 'application'
      = yield :javascript
